.register {
  .maze-bg {
    position: absolute;
    width: 100%;
    bottom: -65px;
    height: 291px;
    background: no-repeat center/cover;
  }
  section {
    padding-top: 150px;
    .name {
      text-align: center;
      h2 {
        font-size: 45px;
        font-weight: 700;
        color: #fff;
        span {
          color: $primary_color;
        }
      }
    }
    .sections {
      padding-top: 50px;
      @include Flexible($j-cont: space-evenly);
      div {
        padding: 3px 10px;
        color: #fff;
        font-weight: 700;
        font-size: 22px;
        position: relative;
        cursor: pointer;
        &.signIn {
          &::after {
            content: "";
            width: 50%;
            height: 2px;
            background-color: $primary_color;
            position: absolute;
            top: 100%;
            opacity: 0;
            transform: translateX(-50%);
            opacity: 1;
            transition: all 0.6s linear;
          }
          &.left {
            &::after {
              left: 50%;
            }
          }
          &.right {
            &::after {
              left: 235%;
            }
          }
        }
      }
    }
    .formForSignIn {
      opacity: 0;
      visibility: hidden;
      position: relative;
      z-index: 1;
      transition: all 0.6s linear;
      &.active {
        opacity: 1;
        visibility: visible;
      }
      form {
        margin: 60px auto 0;
        max-width: 296px;
        @include Flexible($f-dir: column);
        gap: 40px;
        .inputs {
          position: relative;
          p {
            visibility: hidden;
            opacity: 0;
            padding: 6px 15px;
            position: absolute;
            font-size: 13px;
            color: $warning_color;
            &.show{
              opacity: 1;
              visibility: visible;
            }
            
          }
        }
        input {
          &:first-child {
            margin-bottom: 40px;
          }
        }
        button {
          @extend %signBtn;
        }
      }
    }

    .formForSignUp {
      opacity: 0;
      visibility: hidden;
      position: relative;
      z-index: 2;
      transition: all 0.4s linear;
      top: -252.5px;
      &.active {
        opacity: 1;
        visibility: visible;
      }
      form {
        margin: 60px auto 0;
        max-width: 296px;
        @include Flexible($f-dir: column);
        gap: 40px;
        .group {
          input {
            &:first-child {
              background-size: 21px;
              background-position: 13.5px;
            }
          }
          p{
            width: calc(100% - 120px);
            visibility: hidden;
            opacity: 0;
            padding: 6px 15px;
            position: absolute;
            font-size: 13px;
            color: $warning_color;
            &.show{
              opacity: 1;
              visibility: visible;
            }
            &.forPassword{
              color: $link_color;
            }
          }
        }
        button {
          @extend %signBtn;
          transform: translateY(8px);
        }
      }
    }
  }
  input {
    background: no-repeat 12px/24px;
    padding: 10px 0 10px 48px;
    border-bottom: 2px solid $link_color;
    width: 100%;
    color: rgba(255, 255, 255, 0.65);
    font-size: 15px;
    cursor: pointer;
    &::placeholder {
      color: rgba(255, 255, 255, 0.65);
    }
  }
}
