$primary_color:#FF8A35;
$cloud_color:#B0E9FF;
$link_color:#D6F7D2;
$warning_color:#ff0021;
$succes_color:#093b09;
$bg_gradient_color: linear-gradient(171deg, #4A88B9 -12.47%, #91DCC7 111.73%);
$gradient_color_cloud:linear-gradient(180deg, #DCFBD2 -2.21%, #4AA3CB 91.19%);


$text-color: #1E3050;

$card-color: #E1F6FF;
$box-bg-color: #D9D9D9;

$red-color: #FF0021;
$white-color: #fff;